<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        tr:hover {background-color:#f5f5f5;}
    </style>
</head>
<body>
<div class="w3-top">
    <div class="w3-bar w3-white w3-wide w3-padding w3-card">
        <a  class="w3-bar-item w3-button" >Cabinet Medical </a>
        <!-- Float links to the right. Hide them on small screens -->
        <div class="w3-right w3-hide-small">
            <a  class="w3-bar-item w3-button" th:text="'Hello'+${user}+ '!'" ></a>
            <a  class="w3-bar-item w3-button"th:text="${role}"></a>

        </div>
    </div>
</div>

<div th:if="${role == 'medcin'}">
<h2 style="margin-top: 100px">Liste des Patient </h2>
<table >
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>maladie</th>
    </tr>
    <tr th:each="t : ${list}" >
        <td th:text="|${t.nom}"  ></td>
         <td th:text="|${t.prenom}" ></td>
        <td ><span th:each="m:${listm}"  th:text="|${m.nom}"></span></td>

    </tr>
</table>
</div>
<div th:if="${role == 'patient'}" style="margin-top: 100px">
    <table >
        <tr>
            <th>Observation</th>
            <th>date</th>
            <th>medcin</th>

        </tr>
        <tr th:each="tc : ${listc}">
            <td th:text="|${tc.obeservation}"  ></td>
            <td th:text="|${tc.date}" ></td>
            <td ><span th:text="|${nom}"   ></span></td>
        </tr>
    </table>
</div>


</body>
</html>
